<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">关于诺舟云</h2>
                <hr class="light">
                <p class="text-faded text-left">上海诺舟云是全国首家以云平台模式一站式运营覆盖全国各地的ICT基础设施的MSP服务商，通过云计算、大数据和AI等先进智能技术，面向如数据中心、企业总部和全国众多的分支机构等用户场景的ICT资产，提供一站式全生命周期IT专业管理服务。</br>诺舟云通过自主研发的ITSM服务管理系统及ITOM运维监控系统，为企业提供一站式的ICT管理服务，实现服务标准化、交付透明化、安全可视化和全流程闭环，显著降低各项运营成本，大幅提升对企业服务的品质和商业价值。</p>
                <a href="mailto:tom@nuozhoucloud.com" class="btn btn-default btn-xl">联系我们</a>
            </div>
        </div>
    </div>
</section>
