<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1>Professional in Sales and Service of Networking Equipments</h1> -->
            <h1>MSP服务商</h1>
            <hr>
            <!-- <p>We are a world-wide quality supplier of networking equipment specializing in the Cisco,Huawei,H3C and Juniper products line!</p> -->
            <p>上海诺舟云是一家专注于网络设备和MS服务的综合性公司，在该领域拥有丰富的经验和专业服务能力，以客户为中心，满足客户需求是我们一贯的追求！</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">关于诺舟云</a>
        </div>
    </div>
</header>
